SECRET_KEY=pon-aqui-una-clave-segura
ADMIN_PASSWORD_HASH=pbkdf2:sha256:1000000$5jJsIZUaI8CMZICm$f5bec80ce641706874f2c705fe5860a28e3148d56add848400178ecd02cf568e

MAILJET_API_KEY=007558679972fe90fc80f3f6e9a2f68d
MAILJET_SECRET_KEY=c8649ec6cc19704fc49066d78a08ae69
MAILJET_SENDER_EMAIL=saidyerena@gmail.com

PAYMENT_RECEIVER_BANK=Banco de Venezuela
PAYMENT_RECEIVER_PHONE=0412-0000000
PAYMENT_RECEIVER_ID=V-00000000
PAYMENT_RECEIVER_NAME=Tu Barberia
PAYMENT_REFERENCE_PREFIX=CITA
PAYMENT_PENDING_MINUTES=10
